@import "tailwindcss";

@theme {
  
  --color-primary: #0a192f;
  --color-card: #112240;
  --color-mint: #64ffda;
  --color-bright: #e6f1ff;
  --color-main: #CCD6F6;
  --color-text: #BDD3FF;
  
}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}